html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    background-color: #ccc;
    cursor: url(crosshair.png) 16 16, auto;
}

#cnv {
	width: 100%;
	height: 100vh;
	position: absolute;
    /*background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;*/
    z-index: 1;
    background-color: #000;
}

.hp-bar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 48px;
	font-weight: bold;
    color: #FC8200;
    z-index: 2;
}

.score-bar {
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 48px;
    font-weight: bold;
    color: #FC8200;
    z-index: 2;
}

.front {
    z-index: 999;
}

.container {
    display: flex;
    position: absolute;
    color: #FC8200;
    width: 100%;
    height: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s;
}

.title {
    font-size: 64px;
}

.game-over a {
	text-decoration: none;
    color: #FC8200;
    font-size: 48px;
    transition: .2s;
}

.game-over a:hover {
	color: #f00;
}

.main-menu button {
    background-color: #FC8200;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 48px;
    transition: .2s;
}

.main-menu button:hover {
    background-color: #FF0000;
}

.pause-menu {
    background-color: rgba(0, 0, 0, .5);
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: .5em;
    width: 100%;
    height: 80%;
    padding: 1em;
    border-right: 1px solid #FC8200;
    overflow: auto;
}

.section-title {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: start;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FC8200;
    color: #fff;
    padding: .5em;
}

.item button {
    background-color: #f00;
    color: #fff;
    padding: .5em 1em;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.item button:hover {
    background-color: #0f0;
}

.item button.bought {
    background-color: #0f0;
}

.item button.bought:hover {
    background-color: #144405;
}

.item button.selected {
    background-color: #144405;
}