body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container a {
	text-decoration: none;
	padding: 1em;
	color: #000;
	font-weight: bold;
	position: relative;
}

.container a:before {
	content: "";
	width: 0%;
	height: 3px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: .2s;
} 

.container a:hover:before {
	width: 100%;
} 