body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#canvas {
	background-color: #000;
	cursor: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100px;
	height: 100px;
}

.life, .stage, .fps {
	padding: .5em;
	position: absolute;
	text-align: center;
	font-size: 40px;
}

.stage {
	top: 100px;
}

.fps {
	top: 0;
	right: 0;
}

.main_menu {
	z-index: 9998;
	position: absolute;
	width: 50%;
	height: 100%;
	left: 25%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
}

.main_menu button {
	padding: 1em 2em;
	font-size: 24px;
	cursor: pointer;
	border: 3px solid #000;
	background-color: #fff;
	outline: none;
	transition: .2s;
}

.main_menu button:hover {
	background-color: #000;
	color: #fff;
}

.next_stage_menu {
	z-index: 9997;
	position: absolute;
	width: 50%;
	height: 100%;
	left: 25%;
	background-color: #fff;
	display: none;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

.upgrades, .abilities {
	display: grid;
	justify-items: center;
	align-items: center; 
	grid-template-columns: repeat(3, 200px);
	grid-auto-rows: 50px;
}

.next_stage_menu .next-btn {
	padding: 1em;
	font-size: 24px;
	cursor: pointer;
	border: 3px solid #000;
	background-color: #fff;
	outline: none;
	transition: .2s;
}

.next_stage_menu .next-btn:hover {
	background-color: #000;
	color: #fff;
}

.upgrades button:hover {
	background-color: #ddd;
	padding: 0.5em;
}

.upgrades button {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	display: flex;
	align-items: center;
	border-radius: 1em;
	transition: .2s;
}

.abilities button {
	border-radius: 1em;
	padding: 1em 2em;
	background-color: #fff;
	border: 3px solid #000;
	outline: none;
	cursor: pointer;
	transition: .2s;
}

.abilities button:hover {
	background-color: #ddd;
}

.abilities button.bought {
	background-color: #0f0;
	border: 3px solid #0e4d0e;
	color: #fff;
}

.end {
	z-index: 9999;
	position: absolute;
	width: 50%;
	height: 100%;
	left: 25%;
	background-color: #fff;
	display: none;
	justify-content: center;
	align-items: center;
}

.end button {
	padding: 1em 2em;
	font-size: 24px;
	cursor: pointer;
	border: 3px solid #000;
	background-color: #fff;
	outline: none;
	transition: .2s;
}

.end button:hover {
	background-color: #000;
	color: #fff;
}

@media (max-width: 800px) {
	.next_stage_menu {
		font-size: 12px;
	}

	.upgrades, .abilities {
		grid-template-columns: repeat(2, 200px);
	}

	.life, .stage, .fps {
		font-size: 20px;
	}

	.next_stage_menu .next-btn, .end button, .main_menu button {
		font-size: 18px;
	}
}

@media (max-width: 400px) {
	.upgrades, .abilities {
		grid-template-columns: repeat(1, 200px);
	}
}